.section-work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work-title {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  margin-left: -30px;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}

.work-text {
  display: block;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  position: absolute;
  bottom: 0;
  left: 0;
}
